<script setup lang="ts">
import { ref } from "vue";
import { useUserStore } from "../../stores/user";
import type { VForm } from "vuetify/components";
const userStore = useUserStore();

const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    userStore.SaveUser();
  }
};
const Clear = () => {
  userStore.dialog = false;
  userStore.clear();
};
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="userStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Login"
                    v-model="userStore.editedUser.login"
                    :rules="[
                      (v) => !!v || 'Please input Login ',
                      (v) => v.length >= 5 || 'Login must be 5 length',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Name"
                    v-model="userStore.editedUser.name"
                    :rules="[
                      (v) => !!v || 'Please input Name ',
                      (v) => v.length >= 5 || 'Name must be 5 length',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Password"
                    v-model="userStore.editedUser.password"
                    type="password"
                    :rules="[
                      (v) => !!v || 'Please input Password ',
                      (v) => v.length >= 8 || 'Password must be 8 length',
                      (v) =>
                        /^(?=.*\d)(?=.*[a-z])(?=.*[^a-zA-Z0-9])(?!.*\s).{7,15}$/.test(
                          v
                        ) ||
                        'Password need a-z and A-z and 0-9 and Special Charater and lenght 8',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="Clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
