<script setup lang="ts">
import LoginView from "./views/LoginView.vue";
import MainView from "./views/MainView.vue";
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";
import MessageBox from "./components/MessageBox.vue";
const loginstore = useLoginStore();
onMounted(() => {
  loginstore.loadData();
});
</script>

<template>
  <LoginView v-if="!loginstore.isLogin" @login="loginstore.login" />
  <MainView
    v-if="loginstore.isLogin"
    @logout="loginstore.logout"
    :login-name="loginstore.loginName"
  ></MainView>
  <MessageBox></MessageBox>
</template>

<style scoped></style>
